<div class='uit-header'>
    <div class='uit-header__content'>
        <h1 class='uit-header__headline' itemprop='headline'>
            Which 2020 Democrats are powering their campaigns on fossil fuel donations?
        </h1>
        <p class='uit-header__standfirst' itemprop='description'>Maecenas et enim odio. Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit.</p>
        <p class='uit-header__byline'><a href='https://www.theguardian.com/profile/sam-morris'>Sam Morris</a></p>

        <p class='uit-header__dateline'>
            <time itemprop='datePublished' datetime='2019-06-06T02:00:00-0500'>
            Mon 06 June 2019 <span class='content__dateline-time'>02.00&nbsp;EST</span>
            </time>
        </p>

        {{> partials/share }}
    </div>
</div>
