<div class='uit-header'>
    <div class='uit-header__content'>
        <h1 class='uit-header__headline' itemprop='headline'>
            Which 2020 Democrats are powering their campaigns on fossil fuel donations?
        </h1>
        <p class='uit-header__standfirst' itemprop='description'>Democrats accept the climate crisis must be confronted – but there’s a split between those who signed a pledge to no longer accept industry money those who haven’t</p>
        <p class='uit-header__byline'><a href='https://www.theguardian.com/profile/oliver-milman'>Oliver Milman</a>, <a href='https://www.theguardian.com/profile/sam-morris'>Sam Morris</a> and <a href='https://www.theguardian.com/profile/emily-holden'>Emily Holden</a></p>

        <p class='uit-header__dateline'>
            <time itemprop='datePublished' datetime='2019-06-19T02:00:00-0500'>
            Thurs 19 June 2019 <span class='content__dateline-time'>02.00&nbsp;EST</span>
            </time>
        </p>

        {{> partials/share }}
    </div>
</div>
