<div class='uit-header'>
    <h1 class='uit-header__headline' itemprop='headline'>
        The candidates who say they won't take fossil fuel donations, and those that already have (Beto)
    </h1>
    <p class='uit-header__standfirst' itemprop='description'>Maecenas et enim odio. Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit.</p>
    <p class='uit-header__byline'><a href='https://www.theguardian.com/profile/sam-morris'>Sam Morris</a></p>

    <p class='uit-header__dateline'>
        <time itemprop='datePublished' datetime='2019-01-01T08:00:30-0500'>
        Mon 01 Jan 2019 <span class='content__dateline-time'>08.00&nbsp;EST</span>
        </time>
    </p>

    {{> partials/share }}
</div>
