<div class='uit-slides'>
    <div class='uit-slide' data-slide='1'>
        The large field of 2020 Democratic candidates all agree on the causes of climate change. However, there is a split between those who <span class='uit-slide__signed-label'>have signed</span> a pledge to no longer accept fossil fuel money and those who <span class='uit-slide__no-signed-label'>haven't signed</span>
    </div>

    <div class='uit-slide' data-slide='2'>
        Before anyone signed the pledge nearly all candidates have received campaign donations from the fossil fuel industry
    </div>

    <div class='uit-slide' data-slide='3'>
        Oh dear Beto. What have you done mate?
    </div>
</div>
