<div class='uit-slides'>
    <div class='uit-visuals'>
    </div>
    <div class='uit-slide' data-slide='1'>
        <div class='uit-slide__inner'>
            Among the vast field of Democrats vying for the 2020 presidential nomination there is a broad acceptance that the climate crisis must be confronted. However, there is a split between those who have <span class='uit-slide__signed-label'>signed a pledge</span> to no longer accept money from the oil, gas and coal industry and <span class='uit-slide__no-signed-label'>those who haven't</span>.
        </div>
    </div>

    <div class='uit-slide' data-slide='2'>
        <div class='uit-slide__inner'>
            Of those who haven't signed a pledge, frontrunner <span class='uit-slide__no-signed-label'>Joe Biden</span> and New York mayor <span class='uit-slide__no-signed-label'>Bill de Blasio</span> have said they won't take fossil fuel money. In June, Biden released a climate plan that promised action "well beyond" what the Obama administration achieved.
        </div>
    </div>

    <div class='uit-slide' data-slide='3'>
        <div class='uit-slide__inner'>
            Prior to signing the pledge, nearly all of the 2020 Democratic candidates took money from fossil fuel executives, other employees and via political action committees (Pacs), according to data on donations stretching back to 1989.
            <p class='uit-source'>Source: OpenSecrets</p>
        </div>
    </div>

    <div class='uit-slide' data-slide='4'>
        <div class='uit-slide__inner'>
            <span class='uit-slide__signed-label'>Beto O'Rourke</span> has taken more than $600,000 to date. The majority of this money, however, is from individuals working in Texas' large oil and gas sector rather than Pacs. O’Rourke voted twice to lift a ban on the US exporting its oil overseas but has high marks from League of Conservation Voters, an environment group, with a 95% lifetime rating.
        </div>
    </div>

    <div class='uit-slide' data-slide='5'>
        <div class='uit-slide__inner'>
            <span class='uit-slide__no-signed-label'>Michael Bennet</span>, who has been a senator for Colorado since 2009, has taken the second largest amount from the sector among the candidates. He has also taken the most through Pacs - $184,245. He hasn't signed the fossil fuel donations pledge.
        </div>
    </div>

    <div class='uit-slide' data-slide='6'>
        <div class='uit-slide__inner'>
            New York senator <span class='uit-slide__signed-label'>Kirsten Gillibrand</span>, who has signed the pledge, has taken around half of her fossil fuel contributions via Pacs. Conversely, <span class='uit-slide__signed-label'>Bernie Sanders</span> hasn't taken any dollars via Pacs but has taken money from people who work in the oil and gas sector.
        </div>
    </div>

    <div class='uit-slide' data-slide='7'>
        <div class='uit-slide__inner'>
            As the politics over global heating has become polarized, so have industry donations. Once split fairly evenly, fossil fuel companies are now overwhelmingly funding Republicans rather than Democrats. In the 2016 election period alone, <span class='uit-slide__generic-label'>Donald Trump</span> received nearly $1.3m from the sector.
        </div>
    </div>

    <div class='uit-source'>
        <p>Methodology</p>
        <p>Pledge signees were taken from <a href='http://nofossilfuelmoney.org/presidential-signers/'>No Fossil Fuel Money Pledge</a> at the time of publication. Political donation data was provided by OpenSecrets. Figures provided are for donations to campaigns on a federal level only and does not include state or city races.</p>
    </div>
</div>
