<div class='uit-slides'>
    <div class='uit-visuals'>
    </div>
    <div class='uit-slide' data-slide='1'>
        <div class='uit-slide__inner'>
            The large field of 2020 Democratic candidates all agree on the causes of climate change. However, there is a split between those who <span class='uit-slide__signed-label'>have signed</span> a pledge to no longer accept fossil fuel money and those who <span class='uit-slide__no-signed-label'>haven't signed</span>
        </div>
    </div>

    <div class='uit-slide' data-slide='2'>
        <div class='uit-slide__inner'>
            Before anyone signed the pledge nearly all candidates have received campaign donations from the fossil fuel industry
        </div>
    </div>

    <div class='uit-slide' data-slide='3'>
        <div class='uit-slide__inner'>
            Oh dear Beto. What have you done mate?
        </div>
    </div>

    <div class='uit-slide' data-slide='4'>
        <div class='uit-slide__inner'>
            Who even is Bennet?
        </div>
    </div>

    <div class='uit-slide' data-slide='5'>
        <div class='uit-slide__inner'>
            President Messam or President Swalwell are the only options??
        </div>
    </div>

    <div class='uit-source'>
        <p>Source: OpenSecrets</p>
    </div>
</div>
