.uit-visuals {
    position: relative;

    &.is-fixed {
        @include mq($until: desktop) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        canvas {
            margin: auto;
        }
    }

    @include mq(desktop) {
        position: fixed;
        top: 0;
        bottom: 0;
        width: calc(920px / 2);
        left: calc((100% - 940px) / 2);
    }

    @include mq(leftCol) {
        width: calc(1080px / 2);
        left: calc((100% - 1100px) / 2);
    }

    @include mq(wide) {
        width: calc(1240px / 2);
        left: calc((100% - 1260px) / 2);
    }

    canvas {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        @include mq(desktop) {
            margin: auto;
            bottom: 0;
        }
    }
}
